/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-color: #2E3440;
  color: #D8DEE9;
}

td {
  vertical-align: top;
}

.card-description {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col {
  width: 14.28%;
}

.button {
  color: #ECEFF4;
  background-color: #3B4252;
  padding: 5px;
  border-color: #ECEFF4;
  border-width: 1px;
  border-radius: 0.4em;
  border-style: solid;
  text-decoration: none;
}

.button:visited {
  color: #ECEFF4;
  background-color: #3B4252;
}

.button:hover {
  color: #88C0D0;
  border-color: #88C0D0;
}


